<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="ConnName" connectionString="Server=localhost;Port=3306;Database= store;Uid=root;Pwd=;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
